* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 320px;
}
i {
  padding: 0 5px;
}
span {
  margin: 0;
}
#root {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 320px;
}
.anticon-left:before,
.anticon-right:before {
  content: "";
}
.ant-menu-item-selected {
  background-color: #e6faff !important;
  color: #269fe3 !important;
}
.ant-menu-item {
  display: flex !important;
}
.ant-menu-item-selected:after {
  border-right: 3px solid #038fde !important;
}
.ant-layout-sider,
.ant-menu-dark {
  background-color: white;
  color: black;
}
.ant-menu-item:hover {
  color: #269fe3 !important;
}
.ant-menu-title-content {
  display: flex;
  align-items: center;
}
.anticon:before,
.anticon:after,
.ant-pagination-item-link:before,
.ant-pagination-item-link:after {
  content: "" !important;
  display: none !important;
}
.ant-modal-close-x span {
  display: none !important;
}
.ant-pagination-item-link span {
  padding: 7px !important;
  margin: 0 7px;
  border: 1px solid #00000050;
  border-radius: 4px;
}
.ant-form-item-with-help {
  margin-bottom: 24px !important;
}
.ant-input-group-addon {
  padding: 0;
  border: none;
}
.ant-form-item-explain-error,
.ant-form-item-explain-success {
  line-height: 1;
  width: 100%;
  position: absolute;
  margin-bottom: 5px;
  color: black;
  text-align: center;
}
.ant-form-item-explain-error {
  color: #f65959;
}
.gx-card {
  margin-bottom: 32px;
  background-color: #ffffff;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.03);
  position: relative;
  border-radius: 10px;
}
.ant-table-pagination.ant-pagination {
  display: flex;
  align-items: baseline;
}